body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* sets height of content to be relative to screen size*/
    font-family: "Trebuchet MS", Verdana, sans-serif; /* comments after comma are backup fonts in case browser doesn't support one*/
    font-size: 25px;
    color: hsla(216, 72%, 48%, 0.842);
    background: rgba(201, 104, 214, 0.425);
}

.clock{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 200px; /* rectangle around clock*/
    background-color: hotpink;
    border: ivory;
    margin-left: 10px;

}