body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* sets height of content to be relative to screen size*/
    font-family: "Trebuchet MS", Verdana, sans-serif; /* comments after comma are backup fonts in case browser doesn't support one*/
    font-size: 25px;
    color: hsla(216, 72%, 48%, 0.842);
    background: rgba(201, 104, 214, 0.425);
}


.timezone{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(233, 95, 3);

}